*{font-family: Georgia, 'Times New Roman', Times, serif;}
.navbar-nav{
    margin-left: 40%;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-btn{
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
.carocel-p{
    margin: 30px 0px 30px 0px;
}
.top-section{
    background-image: url("images/bg-2.png");
    background-repeat: no-repeat;
    background-position: left center;
}
.top-section .row{
    background-image: url("images/bg-1.png");
    background-repeat: no-repeat;
    background-position: 43% 30%;
    
}
